<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Uri" value="https://azure-cosmo-db-dev.documents.azure.com:443/"/>
    <add key="PrimaryKey" value="vUMUmCJRPJpk0ztRKhB5nyD8aF0KoIfh2pDuln5Y1f8JvGfKZkvovFjSfgREnj1wG5AhKzn5kDml0QZHwkBKDg=="/>
  </appSettings>
</configuration>